@layoutFooterHeight: 70px;
@layoutHeaderHeight: 50px;
//@layoutContentWidth: 1280px;
@layoutContentWidth: 1520px;
//@layoutContentWidth: auto;

html, body {
  height: 100%;
}

#layout {
  height: 100%;
  margin: auto;
  width: @layoutContentWidth;
}

// Блок с контентом и хидером
#layout_hc-block {
  min-height: 100%;
}

#layout_header {
  height: @layoutHeaderHeight;
  .navbar {
    .navbar-brand {
      font-size: 26px;
    }
    .container {
      width: @layoutContentWidth;
    }
  }
//  .nav {
//    margin-right: 30px;
//  }
}

#layout_content {
  padding-bottom: @layoutFooterHeight;
}
#layout_content-inner {
  margin: 10px;
}

#layout_footer {
  height: @layoutFooterHeight;
  margin-top: -@layoutFooterHeight;
  position: relative;
  .alert {
    margin-top: 0;
  }
}

