.game-card_platform-info-param {

  &_comment {
    resize: vertical;
  }
}

.game-card_platform-info-btn {
  margin-left: 15px;

  &_hidden {
    display: none;
  }
}

.game-card_platform-info-btn-panel {
  text-align: right;
}

