# Запрет выдачи листинга пустого каталога
#Options -Indexes

# Включаем преобразователь URL
RewriteEngine On

# gzip сжатие javascript и css (для обычных запросов)
#RewriteRule ^(.*).(js|css)$ sys/js_css_compressor.php?file=$0

# Включаем поддержку хаков для Internet explorer
#RewriteRule ^(.*).htc$ sys/htc_iehacks_support.php?file=$0

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

# Отправляем все URL, не являющимися реальным файлом или директорией на сервере, на index.php в каталоге web-приложения
RewriteRule .* index.php
